:root {
    --white: #fff;
    --black: #000;
    --bg-nav: #283645;
    --menu-hover: #D22856;
    --text-active: rgba(210,40,86,0.3);
    --text-color: #283645;
    --body-color: #F2F2F2;
    --watch-color: #DEDEDE;
    --border-price: #E5E5E5;
    --yes: #3DC644;
    --no: #F25B26;
    --border-social: rgba(40, 54, 69, 0.1);
    --button-green: #2AAB6D;
    --button-green-activ: #1C9B5E;
}
