.modal-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background-color: var(--white);
    text-align: center;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    border-radius: 5px;
    z-index: 6;

    @media (min-width: 660px) {
        width: 460px;
    }
    @media (min-width: 1200px) {
        width: 780px;
    }

    &--success {
        display: none;
    }

    &--failure {
        display: none;        
    }
}

.modal-form_top {
    padding: 23px 27px;

    @media (min-width: 660px) {
        padding-left: 75px;
        padding-right: 75px;
    }
    @media (min-width: 1200px) {
        padding-left: 190px;
        padding-right: 190px;
    }

    &--failure {
        padding: 22px 20px 0px;
        @media (min-width: 1200px) {
            padding-bottom: 60px;
        }
    }
    &--success {
        padding-bottom: 16px;
        @media (min-width: 1200px) {
            padding-bottom: 26px;
        }
    }
}

.modal-form_tile {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);

    @media (min-width: 660px) {
        font-size: 30px;
        line-height: 40px;
        margin: 18px 0px ;
    }
}

.modal-form_text {
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);

    @media (min-width: 660px) {
        font-size: 18px;
        line-height: 24px;
    }
    

    &--failure {
        margin-bottom: 0;
        @media (min-width: 1200px) {
            margin-bottom: 7px;
        }
    }
}

.modal-form_bottom {
    padding: 1px 22px 51px;

    @media (min-width: 660px) {
        padding: 40px 82px 51px;
    }

    &--failure {
        @media (min-width: 1200px) {
            background-color: var(--body-color);
            padding: 52px 242px;
        }
    }

    &--success {
        background-color: var(--body-color);
        @media (min-width: 660px) {
            padding: 51px 82px 51px;
        }
    }
}

.button--green--failure,
.button--green--success {
    margin-top: 45px;
    @media (min-width: 660px) {
        width: 296px;
    }
    @media (min-width: 1200px) {
        width: 456px;
        max-width: 460px;
        margin: 0 auto;        
    }
}

.button--green--failure {    
    
    @media (min-width: 1200px) {
        width: 296px;              
    }
}
