.page-inner__title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color);

    @media (min-width: 660px) {
        font-size: 18px;
    }
}

.page-inner__title-wrapper {
    width: 250px;
    margin: 45px auto 10px;

    @media (min-width: 660px) {
        width: 500px;
        margin-top: 88px;
    }
    @media (min-width: 1200px) {
        width: 575px;
        margin-top: 90px;        
    }
    &--competition {
        width: 280px;
        @media (min-width: 660px) {
            width: 500px;
            margin-top: 92px;
        }
        @media (min-width: 1200px) {
            width: 760px;
            margin-top: 91px;        
        }
    }
}

.mobile-hidden {
    display: none;
    @media (min-width: 660px) {
        display: inline-block;
    }
}
