.photo-editor__header {
    padding-top: 10px;
    padding-bottom: 30px;
    @media (min-width: 660px) {
        padding-top: 65px;
        padding-bottom: 70px;
    } 
    @media (min-width: 1200px) {
        padding-top: 58px;
        padding-bottom: 70px;
    }
}

.photo-editor__title {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color);
    @media (min-width: 660px) {
        font-size: 18px;
        margin: 0;
    }    
}

.photo-editor__form-wrapper {
    background-color: var(--body-color);
    @media (min-width: 1200px) {
        background-color: inherit;
        margin-bottom: 98px;
    }
}

