.reviews {
    position: relative;
    margin-top: -98px;
    z-index: 5;
    background-color: var(--white);

    @media (min-width: 660px) {
        margin-top: 85px;
    }
    @media (min-width: 1200px) {
        margin-top: 70px;
    }
}

.reviews__icon,
.reviews__prev,
.reviews__next,
.slider__item--no-active,
.reviews__autor-info {
    display: none;
}

.reviews__icon,
.reviews__prev,
.reviews__next {
    @media (min-width: 1200px) {
        display: block;
    }
}

.reviews__prev,
.reviews__next {
    @media (min-width: 1200px) {
        width: 42px;
        height: 45px;
        border: none;
        background-color: inherit;
        cursor: pointer;
        margin-top: 40px;
        &:focus {
            outline:none;            
            background-color:var(--body-color);
            border-radius: 50%;            
        }
    }
}

.slider__arrow-left,
.slider__arrow-right {
    @media (min-width: 1200px) {
        width: 22px;
        height: 45px;
        fill: var(--text-color);
        opacity: 0.3;                
    }
    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.1;
    }    
}

.reviews__icon {
    @media (min-width: 1200px) {
        margin: 0 auto;
        width: 78px;
        height: 63px;
        fill: #efefef;
    }
}

.reviews__autor-info {
    @media (min-width: 660px) {
        display: block;
        font-size: 14px;
        line-height: 30px;
        color: var(--text-color);
        text-align: center;
        margin-top: -2px;

        @media (min-width: 1200px) {
            font-size: 18px;
            margin: 0;        
        }
    }
}

.reviews__author-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    order: -1;
    margin-top: 42px;
    margin-bottom: 0px;

    @media (min-width: 660px) {
        font-size: 20px;
        margin-top: 18px;
        order: 0;
    }
    @media (min-width: 1200px) {
        font-size: 24px;        
    }
}

.reviews__text {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-top: 12px;
    color: var(--text-color);

    @media (min-width: 660px) {
        font-size: 18px;
    }
}

.reviews__toggles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62px;
    margin: 0 auto;
    margin-top: 17px;

    @media (min-width: 660px) {
        margin-top: 22px;
    }
    
}

.reviews__item {
    @media (min-width: 660px) {
        width: 620px;
    }
    @media (min-width: 1200px) {
        width: 690px;
    }
}
