.site-list__item {
    @media (max-width: 1199px) {
        width: 100%;
        height: 63px;
        background-color: var(--bg-nav);
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
        margin-bottom: 1px;
        a {
            color: var(--white);
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            line-height: 32px;
            text-transform: uppercase;
            cursor: pointer;
            padding: 13px 25%;
            transition-property: color;
            transition-duration: 150ms;
            &:hover {
                color: var(--menu-hover);
            }
            &:active {
                color: var(--menu-hover);
                opacity: 0.3;
            }
        }
    }
    @media (min-width: 1200px) {
        
        list-style: none;
        a {
            text-decoration: none;
            color: var(--white);
            font-size: 18px;
            line-height: 18px;
            font-weight: normal;
            cursor: pointer;
            transition-property: color;
            transition-duration: 150ms;
            &:hover {
                color: var(--menu-hover);
            }
            &:active {
                color: var(--menu-hover);
                opacity: 0.3;
            }
            @media (min-width: 1200px) {
                &:active {
                    color: var(--white);
                    opacity: 0.3;
                }                
            }
        }
        &--active {
            a {
                cursor: inherit;
                &:hover {
                    color: var(--white);
                }
                @media (min-width: 1200px) {
                    &:active {                        
                        opacity: 1;
                    }                
                }
                                
            }
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 30px;
                left: 0;
                height: 2px;
                background: white;
            }
        }
    }
}

.site-list {
    @media (max-width: 1199px) {
        padding: 0;
        margin: -72px 0;
    }
    @media (min-width: 1200px) {
        display: flex;
        width: 620px;
        justify-content: space-between;
    }
}

.main-nav--closed .site-list {
    @media (max-width: 1199px) {
        display: none;
    }
}
