.table-price {
    width: 834px;
    border-spacing: 0;
    
    @media (min-width: 660px) {
        width: 620px;
    }
    @media (min-width: 1200px) {
        width: 940px;
    }
}

.table-price__header {
    position: relative;
    width: 276px;
    background-color: var(--bg-nav);
    padding: 0;
    padding-top: 18px;
    padding-bottom: 33px;
    color: var(--white);
    border-right: 2px solid var(--body-color);

    &:first-child {
        display: none;
        border-left: 2px solid var(--body-color);
    }
    &:last-child {
        border-right: 2px solid var(--bg-nav);
    }
    &--hit {
        background-image: url("../img/bg-hit.svg");
        background-repeat: no-repeat;
        background-size: 74px;                
    }
    &--hit::before {
        content: "хит";
        position: absolute;
        left: 12px;
        top: 22px;
        font-size: 14px;
        font-weight: 400;
        transform: rotate(-45deg);
        text-transform: uppercase;
    }

    @media (min-width: 660px) {
        width: 154px;
        padding-top: 17px;
        padding-bottom: 15px;

        &:first-child {
            display: block;
            background-color: inherit;
        }
        &--hit {
            background-image: url("../img/bg-hit-tablet.svg");            
            background-size: 61px;                
        }
        &--hit::before {            
            left: 7px;
            top: 18px;
            
        }
    }
    @media (min-width: 1200px) {
        width: 234px;
        padding-top: 19px;
        padding-bottom: 22px;
        &--hit {
            background-image: url("../img/bg-hit.svg");            
            background-size: 74px;                
        }
        &--hit::before {            
            left: 15px;
            top: 20px;
            
        }
    }
}

.table-price__type,
.table-price__price {
    display: block;
    
}

.table-price__type {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 9px;

    @media (min-width: 1200px) {
        font-size: 18px;
        margin-bottom: 8px;
    }
}

.table-price__price {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    @media (min-width: 1200px) {
        font-size: 24px;
    }
}

.table-price__cell {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text-color);
    padding: 14px;
    padding-bottom: 15px;
    padding-left: 22px;
    border-right: 2px solid var(--border-price);
    border-bottom: 2px solid var(--border-price);
    background-color: var(--white);

    &:first-child {
        display: none;
        @media (min-width: 660px) {
            display: block;
            font-size: 14px;
            text-transform: none;
            padding: 14px 0 14px 17px;
        }
        @media (min-width: 1200px) {
            font-size: 18px;
            padding: 20px 0 20px 22px;
        }
    }

    @media (min-width: 660px) {
        padding: 9px 0;        
    }
    
}

.table-price__yes {
    width: 31px;
    height: 21px;
    fill: var(--yes);
}

.table-price__no {
    width: 27px;
    height: 27px;
    fill: var(--no);
    padding-right: 3px;
}

.table-price__feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    @media (min-width: 660px) {
        height: 27px;
        justify-content: center;
    }
}

.table-price__section {
    @media (min-width: 660px) {
        display: none;
        
    }
}